body{
    background-image: url(roke.jpg) ;
    width: 100px;
    height: 200px;
    background-size: cover;
}
img{
    width: 150px;
    margin-left: 90%;
}
ul{
    display: flex;
    margin-left: 70px;
    font-family: 'Courier New', Courier, monospace;
    
}
li{
    list-style: none;
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.navbar{
display: flex;
max-width: 400PX;
}
h1{
   text-align: center; 
   margin-top: 10px;
}
P{
    text-align: center;
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}